#main{
width:960px;
}
.title{
background: #E67E22;
color: #fff;
padding: 15px;
border-radius: 4px;
border: solid 1px #CA6A14;
font-size: 25px;
}
.right-2 .img-icon {
    width: 96px;
    height: 96px;
}
.right-2 .img-mobile-icon {
    width:96px;
    height:96px;
	margin:10px auto;
}
.right-2 img:hover{
-webkit-animation:swing 1s .2s ease both;
-moz-animation:swing 1s .2s ease both;
}
@-webkit-keyframes swing{
20%,40%,60%,80%,100%{-webkit-transform-origin:top center}
20%{-webkit-transform:rotate(15deg)}
40%{-webkit-transform:rotate(-10deg)}
60%{-webkit-transform:rotate(5deg)}
80%{-webkit-transform:rotate(-5deg)}
100%{-webkit-transform:rotate(0deg)}
}
@-moz-keyframes swing{
20%,40%,60%,80%,100%{-moz-transform-origin:top center}
20%{-moz-transform:rotate(15deg)}
40%{-moz-transform:rotate(-10deg)}
60%{-moz-transform:rotate(5deg)}
80%{-moz-transform:rotate(-5deg)}
100%{-moz-transform:rotate(0deg)}
}

.icon-every img,.icon-every  button{
margin:0 auto;
}
.icon-botton{
text-align:center;
}
.input-cmd{
margin-bottom:5px;
}
.input-p{
font-size: 16px;
line-height: 42px;
margin-bottom: -20px;
}
.footer {
background: #eee;
height: 50px;
line-height: 50px;
border-top: solid #bbb 1px;
position: fixed;
width: 100%;
bottom: 0;
font-weight: bold;
}
.footerright {
text-align: right;
margin: 0 20px;
}
.text-tasklist {
font-size: 12px;
}
.label-time {
margin: 0 5px;
}
.nav-page{
float: right;
padding-top: 10px;
}
.nav-page:after{
clear:both;
}
.lft{

}